/*-----------------------------------*/
/*------------ FONT RULES -----------*/
/*-----------------------------------*/
@font-face {
    font-family: "pnpFontBold";
    src: url(fonts/CachetStd-Bold.eot);
    src: local("?"), url("fonts/CachetStd-Bold.woff") format("woff"),
    url(fonts/CachetStd-Bold.otf) format("opentype"),
    url("fonts/CachetStd-Bold.svg#CachetStd-Bold") format("svg");
}

@font-face {
    font-family: "pnpFontMedium";
    src: url(fonts/CachetStd-Medium.eot);
    src: local("?"), url("fonts/CachetStd-Medium.woff") format("woff"),
    url(fonts/CachetStd-Medium.otf) format("opentype"),
    url("fonts/CachetStd-Medium.svg#CachetStd-Book") format("svg");
}

@font-face {
    font-family: "pnpFont";
    src: url(fonts/CachetStd-Book.eot);
    src: local("?"), url("fonts/CachetStd-Book.woff") format("woff"),
    url(fonts/CachetStd-Book.otf) format("opentype"),
    url("fonts/CachetStd-Book.svg#CachetStd-Book") format("svg");
}

.pnpFont{
    font-family: "pnpFont", Arial, sans-serif, Helvetica;
}

.pnpFontMedium {
    font-family: "pnpFontMedium", Arial, sans-serif, Helvetica;
}

.pnpFontBold {
    font-family: "pnpFontBold", Arial, sans-serif, Helvetica;
}

.pnpFontSize14{
    font-size: 14px;
}